{% extends 'base.html.twig' %}

{% block title %}Hello GameController!
{% endblock %}

{% block body %}

	<header>
		<h1>Test technique - WEBNET</h1>
		<h2>Jeu de carte</h2>
		<a href="{{path('app_game_new')}}">Jouez</a>
	</header>

{% endblock %}
